@import "tailwindcss";
@plugin "daisyui";

:root {

    --color-knop-magenta: #D40069;
    --color-knop-turquoise: #00A3A2;
    --color-dark: #16151e;
    --color-dark-transparent: #16151eb6;
    --color-light: #FFFFFC;
    --padding-desktop: 8rem;
    --padding-mobile: 1rem;
    --border-radius: 10px;
    --border-radius-mobile: 5px;
    --border-color: #cccccc;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main {
    min-height: 100svh;
    font-size: 1rem;
    font-family: var(--font-cousine);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-alumni);
}

h2 {
    font-size: 2rem;
}

.subHeading {
    font-size: 1.25rem;
    font-family: var(--font-cousine);
    font-weight: bold;
    padding-bottom: .5rem;

    p {
        border-bottom: var(--border-color) 1px solid;

    }
}

section {
    padding: var(--padding-mobile);
    border-bottom: var(--color-dark) 1px solid;
    border-top: var(--color-dark) 1px solid;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.headingLine {
    overflow: hidden;
    display: block;
}

@media screen and (min-width:1024px) {
    .subHeading {
        padding-bottom: 1rem;
    }

    h2 {
        font-size: 5rem;
        font-weight: 500;
    }

    section {
        padding: var(--padding-desktop);
    }
}