@import "tailwindcss";
@plugin "daisyui";

:root {

    --color-knop-magenta: #D40069;
    --color-knop-turquoise: #00A3A2;
    --color-dark: #192028;
    --color-dark-transparent: #192028b6;
    --color-light: #FFFFFC;
    --padding-desktop: 8rem;
    --padding-mobile: 1rem;
    --padding-tablet: 2rem;
    --border-radius: 10px;
    --border-radius-mobile: 5px;
    --border-color: rgb(204, 204, 204);
    --animation-time: 0.2s;
    --max-width: 1440px;
}


html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
}

main {
    min-height: 100svh;
    font-size: 1rem;
    font-family: var(--font-IBM), monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-alumni), sans-serif;
    font-weight: 450;
    line-height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 100%;
}

h2 {
    font-size: clamp(2.5rem, 8vw, 4rem);
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
}

h3 {
    font-size: clamp(2rem, 8vw, 2.25rem);
    line-height: 100%;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

p {
    font-size: clamp(1rem, 4vw, 1.25rem);
    font-weight: 400;
}

nav {
    li {

        a,
        div {
            font-family: var(--font-IBM), monospace;

        }
    }


}

a {
    font-family: var(--font-IBM), monospace;

}

.subHeading {
    font-size: 1.25rem;
    font-family: var(--font-IBM), monospace;
    font-weight: bold;
    padding-bottom: .5rem;
    padding-left: .15rem;

    p {
        border-bottom: var(--color-knop-magenta) 1px solid;
        font-weight: 700;
    }
}

section {
    padding: 4rem var(--padding-mobile);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.headingLine {
    overflow: hidden;
    display: block;
}


html.lenis,
html.lenis body {
    height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
    overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch],
.lenis [data-lenis-prevent-vertical],
.lenis [data-lenis-prevent-horizontal] {
    overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

.lenis.lenis-autoToggle {
    transition-property: overflow;
    transition-duration: 1ms;
    transition-behavior: allow-discrete;
}


footer {
    p {
        font-family: var(--font-IBM), monospace;
    }

    a {
        font-family: var(--font-IBM), monospace;

    }
}

@media screen and (min-width:760px) {

    section {
        padding: var(--padding-tablet);
    }


}


@media screen and (min-width:1450px) {

    section {
        padding: 4rem var(--padding-desktop);
    }


}